<ion-view  title="Oauth Secure">
    <ion-content>
        <div>
            <div class="padding">
                Token: {{data.token}}
                <button ng-click="login()" class="button button-block button-stable">
                    Log In
                </button>
                <button ng-click="logout()" class="button button-block button-stable">
                    Log Out
                </button>
                {{data.token}}
            </div>
        </div>
    </ion-content>
</ion-view>